
<div id="meme">
<img src="Screen Shot 2014-06-04 at 6.18.20 PM.png">
<h2 style="
    color: rgb(36, 166, 184);     
    font-size: 50px;
    position: absolute; };
    top: 0px;
    left: 80px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
"><%= top %></h2>
<h2 style="
    color: rgb(36, 166, 184);          
    font-size: 60px;     position: absolute; };     
    top: 237px;     
    left: 51px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
"><%= bottom %></h2>
</div>

<form action="/" method="get">
	<input type="text" name="top" placeholder="TOP TEXT" />
	<input type="text" name="bottom" placeholder="BOTTOM TEXT" />
	<input type="submit"></input>
</form>

<button id="create-button">Create Meme</button>

<script type="text/javascript" src="html2canvas.js"></script>
<script type="text/javascript" src="meme.js"></script>

